---
import Layout from "../../layouts/layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
    .map((post) => ({
        ...post,
        slug: post
            .filePath!.split("/")
            .pop()!
            .replace(/\.mdx?$/, ""),
    }))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Grishma Dhakal - Blog">
    <h1 class="mb-4 text-4xl font-bold">
        <span class="text-accent"> ~ </span>
        <span class="inline-block text-[#ffffff]">blog</span>
    </h1>
    <div class="space-y-8 pt-4 sm:space-y-4">
        {
            posts.map((post) => (
                <div class="group flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between sm:gap-4">
                    <a
                        href={`/blog/${post.slug}`}
                        class="hover:text-accent text-gray-200 transition-colors duration-200"
                    >
                        {post.data.title.toLowerCase()}
                    </a>
                    <div class="flex shrink-0 items-center text-sm text-gray-400">
                        <span>
                            {new Date(post.data.date)
                                .toLocaleDateString("en-US", {
                                    month: "short",
                                    day: "numeric",
                                    year: "numeric",
                                })
                                .toLowerCase()}
                        </span>
                    </div>
                </div>
            ))
        }
    </div>
</Layout>
