---
import Layout from "../layouts/layout.astro";
import Quote from "../components/quote.astro";
import Button from "../components/ui/button.astro";

const siteTitle = "404 Not Found";
const description = "Page not found";
---

<Layout title={siteTitle} description={description}>
    <Quote
        text={`In my experience, there is no such thing as luck.`}
        author="Obi-Wan Kenobi, Star Wars"
    />
    <div class="flex size-full items-center justify-center">
        <div class="flex flex-col justify-center gap-4 py-4 text-center">
            <div class="font-mono text-xl">404 Page Not Found</div>
            <div class="flex items-center justify-center gap-4">
                <Button variant="outline" href="/"> home </Button>
                <Button variant="outline" href="/blog"> blog </Button>
            </div>
        </div>
    </div>
</Layout>
