---
import SectionHeading from "./ui/section-heading.astro";
import Button from "./ui/button.astro";

export interface Props {
    posts: {
        id: string;
        data: {
            title: string;
            date: Date;
        };
    }[];
}

const { posts } = Astro.props;
---

<section class="mb-16">
    <div class="mb-6 flex items-center justify-between">
        <SectionHeading title="blogs" />
        <Button variant="link" href="/blog"> view all </Button>
    </div>

    <div class="space-y-4">
        {
            posts.map((post) => (
                <div class="group flex flex-col gap-1 sm:flex-row sm:items-center sm:justify-between sm:gap-4">
                    <a
                        href={`/blog/${post.id}`}
                        class="hover:text-accent font-semibold text-gray-200 transition-colors duration-200"
                    >
                        {post.data.title.toLowerCase()}
                    </a>
                    <div class="flex shrink-0 items-center text-sm text-gray-500">
                        <span>
                            {post.data.date
                                .toLocaleDateString("en-US", {
                                    month: "short",
                                    day: "numeric",
                                    year: "numeric",
                                })
                                .toLowerCase()}
                        </span>
                    </div>
                </div>
            ))
        }
    </div>
</section>
