---
import Quote from "../components/quote.astro";
---

<header class="mb-16 space-y-4">
    <h1 class="mb-4 text-4xl font-bold">
        <span class="text-accent"> ~ </span>
        <span class="inline-block text-[#ffffff]"> Grishma Dhakal</span>
    </h1>
    <div class="text-gray-400">pokhara, nepal</div>
    <Quote
        text="The beginning is the end, and the end is the beginning."
        author="Dark"
    />

    <p class="text-lg leading-relaxed">
        I&apos;m a
        <a
            href="https://en.wikipedia.org/wiki/Computer_engineering"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-accent"
        >
            CE
        </a>
        undergrad student &mdash; a field that specializes in developing computer
        software and hardware. I love building things and solving problems. I enjoy
        playing games. If I&apos;m not coding, I&apos;m probably gaming or watching
        movies, or travelling somewhere.
    </p>
</header>
