---
import Quote from "../components/quote.astro";
---

<header class="mb-16 space-y-4">
    <h1 class="mb-4 text-4xl font-bold">
        <span class="text-accent"> ~ </span>
        <span class="inline-block text-[#ffffff]"> Grishma Dhakal</span>
    </h1>
    <div class="text-gray-400">pokhara, nepal</div>
    <Quote
        text="The beginning is the end, and the end is the beginning."
        author="Dark"
    />

    <p class="text-lg leading-relaxed">
        i&apos;m a
        <a
            href="https://en.wikipedia.org/wiki/Computer_engineering"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-accent"
        >
            CE
        </a>
        undergrad student &mdash; a field that blends the principles of computer
        science and electrical engineering to build both software and hardware systems.
        i love building things and solving problems. i enjoy games, language design,
        and i live on the terminal. if i&apos;m not coding, i&apos;m probably gaming
        or watching movies, somewhere between escapism and inspiration.
    </p>
</header>
