<header class="mb-16 space-y-4">
    <h1 class="mb-4 text-4xl font-bold">
        <span class="text-accent"> ~ </span>
        <span class="inline-block text-[#ffffff]"> Grishma Dhakal </span>
    </h1>
    <div class="text-gray-400">pokhara, nepal</div>
    <p class="text-lg leading-relaxed">
        i&apos;m a CS undergrad student. i love building things and solving
        problems. i enjoy games, language design, and i live on the terminal. if
        i&apos;m not coding, i&apos;m probably gaming or watching movies,
        somewhere between escapism and inspiration.
    </p>
</header>
