---
import SectionHeading from "./ui/section-heading.astro";
import Button from "./ui/button.astro";
import ExternalLinkIcon from "./ui/external-link-icon.astro";

const links = [
    { title: "resume", href: "resume.pdf" },
    { title: "email", href: "mailto:me@grishmadhakal.com.np" },
    { title: "x.com", href: "https://x.com/grishma_dhakal" },
    { title: "github", href: "https://github.com/Gr1shma" },
    { title: "linkedin", href: "https://www.linkedin.com/in/grishma-dhakal" },
];
---

<section class="animate-fade-in-up mb-16">
    <SectionHeading title="links" class="mb-6" />
    <div class="flex flex-wrap gap-4 text-sm">
        {
            links.map((link) => (
                <Button
                    variant="outline"
                    href={link.href}
                    rel={
                        link.href.startsWith("http")
                            ? "noopener noreferrer"
                            : undefined
                    }
                    target="_blank"
                >
                    <span class="font-medium">{link.title}</span>
                    {link.href.startsWith("http") && (
                        <ExternalLinkIcon class="h-3 w-3 group-hover:translate-x-0.5 group-hover:-translate-y-0.5" />
                    )}
                </Button>
            ))
        }
    </div>
</section>
