---
const navItems = [
    { label: "home", href: "/" },
    { label: "blog", href: "/blog" },
    { label: "projects", href: "/projects" },
    { label: "fav", href: "/fav" },
];
---

<nav class="text-m mb-12 flex items-start justify-between">
    <div class="flex flex-wrap gap-2 sm:gap-4">
        {
            navItems.map((item) => (
                <a
                    href={item.href}
                    class="hover:text-accent whitespace-nowrap transition-colors duration-200"
                    aria-label={
                        item.label.charAt(0).toUpperCase() + item.label.slice(1)
                    }
                >
                    [ {item.label} ]
                </a>
            ))
        }
    </div>
</nav>
