---
import Layout from "../../layouts/layout.astro";
import ProjectCard from "../../components/project-card.astro";

import { projects } from "../../data/projects.ts";
---

<Layout
    title="Projects"
    description="A collection of projects I've built over the years"
    url="projects"
>
    <h1 class="mb-4 text-4xl font-bold">
        <span class="text-accent"> ~ </span>
        <span class="inline-block text-[#ffffff]">projects</span>
    </h1>
    <p class="mb-12 leading-relaxed text-gray-400">
        A collection of projects I&apos;ve built over the years.
    </p>

    <div class="space-y-12">
        {projects.map((project) => <ProjectCard {...project} />)}
    </div>
</Layout>
